<footer>
    <div id="left">
        <div>
            <p>© Sociobuzz. All Rights Reserved</p>
        </div>

        <div>
                    <a href="/">Home</a>
                </li>
                <%if(locals.user) { %>
                        <a href="/users/profile/<%= user.id %>">Profile</a>
                <% }  %>
                
        </div>
    </div>
    <div id="right"></div>  
</footer>